extends ../app.jade
block content
	h1 My app
	div(class="container " id="cursors")
		button(id="btnAlert") Alert
		//- div(id="messages")
		//- form(onsubmit="return addMessage(this)")
		//- 	input(type="text" placeholder="author" id="author")
		//- 	input(type="text" placeholder="message" id="message")
		//- 	input(type="submit" value="Enviar")	
		
block extra-scripts
	script(src="/socket.io/socket.io.js")
	script(src="/static/js/administered.js")
